
# Build directories
build/
lib/

# Generated Javadocs
docs/

# makefile, since copied from makefile.linux or makefile.macosx
makefile

# Code signing key/alias info file
codeSigning.properties

# rpm package files
rpm/spec
*.rpm
wolfcrypt*.tar.gz

# Windows
IDE/WIN/.vs
IDE/WIN/wolfcryptjni.vcxproj.user
IDE/WIN/DLL Debug
IDE/WIN/DLL Debug FIPS
IDE/WIN/DLL Release
IDE/WIN/DLL Release FIPS

# infer RacerD
infer-out/

# Maven output directory
target/

